body {
  background-color: rgb(105, 119, 148);
  color: white;
}

a {
  color: white;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.utilities {
    display: none;
    height: 100%;
}

a.nav-link.active {
  background-color: white;
  border-radius: 5px;
  color: rgb(105, 119, 148);
}

a.nav-link {
    cursor: pointer;
}

a.nav-link.active:hover {
    color: rgb(105, 119, 148);
}

h1 {
  margin: 20px;
}



.img-map-tn {
  width: 100%;
height: 100%;
object-fit: cover;
}

.map-overview {
  text-align: center;
  padding: 0;
    overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
        cursor: pointer;
}

.map-overview:hover {
    cursor: pointer;
}

.map-overview::before {
    content: "";
    position: absolute;
    top: 0;
    background: black;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.4;
    cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.map-overview:hover::before {
    opacity: 0.6;
} 

.map-overview > h3 {
    position: absolute;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.map_layout {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: -40px 0px 0px -40px;
  pointer-events:none;
}



.utilities > * {
  pointer-events: all;
}

.interaction_area {
}

.utilities > .row > .col-md-3 {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.utilities a:hover {
    opacity: 1;
}

.utilities > .row > .col-md-3 > .col-md-3 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.row {
  margin: 0px
}

.util_icon {
  position: absolute;
  height: 80px;
  width: 80px;
}

.map_img {
  margin: 40px 0px 0px 40px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loc_throw {
  display: none;
}

.hoverImg {
    height: 130%;
}

